@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.card_image{
	max-width: 300px;
}
.search_line{
	display:flex;
	justify-content: space-between;
	margin-bottom: 30px;
	width: 10px  !important;
}

.recipe_card{
	width: 70%;
	margin-bottom: 30px;
}

.title_line{
	display:flex;
	justify-content: space-between;
}
.search_btn{
	margin-right: 50px;
}

.right_col{
	display:flex;
	justify-content: center;
}
.recipe_img{
	width: 100%;
}
.create_btn{
	text-align: center;
	margin-bottom: 30px;
	margin-top: 5px;
}
.main-ui-filter-search{
	border: 1px solid black !important;
	width: 10% !important;
}
html{
	max-width: 100%;
	overflow-y: hidden;
}
