@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.buttons{
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}
html{
	max-width: 100%;
	overflow-y: hidden;
}
.planner_table{
	margin-top: 50px;
	text-align: center;
}
.planner_table td{
	font-size:20px;
}
html{
	max-width: 100%;
	overflow-y: hidden;
}
.table_cell:hover{
	cursor: pointer;
}
#modal, #daily_product_table{
	display: none;
}

