@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.navbar-brand .logo {
	position: relative;
	top: -2px;
}

.navbar-brand .logo span {
	margin-right: 10px;
	font-size: 36px;
}

.project-card .icon.disabled {
	filter: grayscale(100%);
}

.tabs-content > div {
	display: none;
}

.tabs-content > div.active {
	display: flex;
}

.tabs-content .pagination {
	justify-content: center;
}

.tabs-content .pagination-list {
	flex-grow: 0;
}
