@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html{
	width: 100%  !important;
	max-width: 100%  !important;
	overflow-x: hidden !important;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font: 14px var(--ui-font-family-primary, var(--ui-font-family-helvetica)) !important;
}

.template-bitrix24
{
	width: 100%  !important;
	max-width: 100%  !important;
	overflow-x: hidden  !important;
}
.bottom_content{
	text-align: center;
}
.recipe_title{
	text-align: center;
}
.search_line{
	display: flex;
	justify-content: center;
}
.add_form{
	margin-left: 50px;
	display: flex;
	align-items: center;
}
.recipe_calories{
	padding: 5px;
	display: flex;
	justify-content: center;
	align-content: center;
}
.recipe_img{
	max-height: 300px;
	border-radius:10px;
}
.recipe_image_container{
	display: flex;
	justify-content: center;
	margin-left: 50px;
}
#recipe_list_search_container
{
	position: fixed !important;
}
.calories{
	margin: 0 150px;
}
.search_btn{
	margin-right: 50px;
}
.bottom_buttons{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.upper_buttons{
	margin-right: 10%;
	gap: 20px;
	justify-content: space-between;
}
.products {
	display: flex;
	justify-content: center;
}
.right_col{
	text-align: center;
}
.likes{
	align-content: center;
}
.author_name{
	max-width: 100%;
	padding: 10px;
	font-size: 12px;
	text-align:center;
}
.author_image{
	align-content: center;
}
.author_link{
	background-color: rgba(255,255,255, 0.3);
	padding: 10px 15px;
	border-radius: 10px;
	display:flex;
	justify-content: space-between;
}
.instruction{
	margin: 20px 0;
}
.feed-post-more-text{
	display:none;
}
.feed-com-informers-bottom, .feed-com-text-inner-inner, .feed-com-user-box{
	display: flex !important;
	justify-content: left !important;
	text-align: left;
}
.description_container{
	margin-top: 20px;
	word-break: break-all;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.step_container{
	word-break: break-all;
}
html{
	max-width: 100%;
	overflow-y: hidden;
}
.products{
	display:flex;
	flex-direction: column;
}
.products_table{
	background-color: transparent;
	text-align: center;
}
.products_table tbody td{
	border-color: #000000;
}
#likes_counter{
	margin: 0 2px;
	background-color: transparent;
}

.products_table thead th{
	border-color: #000000;
}

.workarea-content{
	background-color: rgba(255, 255, 255, 0.7) !important;
}
.step_container{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.step{
	background-color: rgba(255,255,255, 0.3);
	margin-bottom: 20px;
	width: 50%;
}
.step_title{
	margin-bottom: 5px;
}
.description{
	width: 80%;
}
.comments, .description, .calories{
	background-color: rgba(255,255,255, 0.3);
}
.comments{
	width: 80%;
}
.comments_component{
	background: transparent;
	width: 80%;
}
.bx-layout-inner-inner-top-row{
	display: none;
}
